header {
    z-index: 1;
}
.bg-selected {
    background: #000;
}

.site-dropdown-menu {
    width: 200px;
    background: #000;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    padding: 1.5rem;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.site-dropdown-item {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.visibility {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-cart {
    position: relative;
    color: #ffc107;
    font-size: 1.5rem;
    margin-right: 15px;
    padding: 0.2rem 0.4rem;
}

.header-cart:focus {
   box-shadow: 0 0 0 0.25rem rgb(217 164 6 / 50%);
}

.nCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    color: #ffc107;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}