header {
    z-index: 1;
}
.bg-selected {
    background: #000;
}

.site-dropdown-menu {
    width: 200px;
    background: #000;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    padding: 1.5rem;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.site-dropdown-item {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.visibility {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

