/* You can add global styles to this file, and also import other style files */

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.col-yellow {
    color: #ffc107
}

.cursor-pointer {
    cursor: pointer;
}