<div [routerLink] = "['/evento', evento.id]"  class="evento-card cursor-pointer">
    <div class="layover">
        <div class="card-img mb-3">
            <img :src="{{ evento.img }}">
        </div>
        <div class="card-details">
            <ng-container *ngFor="let category of categories">
                <div *ngIf="evento.category === category.id">{{category.name}}</div>
            </ng-container>
            <h2>{{ evento.name }}</h2>
            <span *ngFor="let artista of findArtist(evento.id)" class="card-artist">{{ artista.artName }} </span>
            <p class="card-desc">{{ evento.description }}</p>
        </div>
    </div>
  </div>